.rosa{
	background-color: #ee3e64;
	position: absolute;
	left: 0;
	top:0;
	
}
.azul{
	background-color: cyan;
	position: absolute;
	right: 0;
	top: 0;

}
.verde{
	background-color: #b7d84b;
	position: absolute;
	left: 0;
	bottom: 0;

}
.yellow{
	background-color: yellow;
	position: absolute;
	right: 0;
	bottom: 0;

}
div{
	width: 200px;
	height: 200px;
	
	
}
body{
	margin: 0px;
	padding: 0;
}